<%= render "shared/index", table_partial: "shared/tables/officers" do %>
  <h1>Officers &amp; Employees <small>Boston Police Department officers with 2019 earnings <%= link_to "Learn more", page_path("help", anchor: "officers") %></small></h1>
<% end %>
