<%#
---
title: 2011 - 2020 Traffic Tickets
date: "2021-04-01"
status: Available
description: All traffic tickets issued by BPD officers from 2011 - 2020 (MassDOT data)
links:
  - https://wokewindows-data.s3.amazonaws.com/sqr_19906_MRP_boston_pd_citations_for_01012011_01012021.zip
  - https://github.com/nstory/boston_pd_citations
  - https://wokewindows-data.s3.amazonaws.com/P000436-031821.pdf
---
%>

<p>Josh Raisler Cohn requested and received this dataset from MassDOT (see <a href="https://wokewindows-data.s3.amazonaws.com/P000436-031821.pdf">P000436-031821</a>)</p>

<p><a href="https://wokewindows-data.s3.amazonaws.com/sqr_19906_MRP_boston_pd_citations_for_01012011_01012021.zip">sqr_19906_MRP_boston_pd_citations_for_01012011_01012021.zip</a> contains a tab-separated values file of traffic citations issued from 2011 through 2020. It appears the file contains tickets issued by agencies containing the word "Boston" and, so, in addition to the Boston Police Department this file contains tickets issued by some other agencies including Boston University, UMass Boston Police, etc.</p>

<p>At <a href="https://github.com/nstory/boston_pd_citations">nstory/boston_pd_citations</a> we've filtered the file to just contain tickets issued by the Boston Police and we've augmented the dataset with officer's names (for easier searching).</p>
