<%#
---
title: 2014 Officer IA Log
date: "2014-12-31"
status: Included
description: Boston Police Internal Affairs records for 2014 with summaries
links:
  - https://www.muckrock.com/foi/boston-3/police-officer-performance-survey-boston-police-department-22240/
---
%>

<p>This spreadsheet contains Internal Affairs Division cases for 2014. It provides a summary for each case, which other data sources do not provide.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>IA No</td>
      <td></td>
    </tr>
    <tr>
      <td>Date Received</td>
      <td></td>
    </tr>
    <tr>
      <td>Date Occurred</td>
      <td></td>
    </tr>
    <tr>
      <td>Involved Officer(s)</td>
      <td></td>
    </tr>
    <tr>
      <td>Allegation(s)/Force Type(s)</td>
      <td></td>
    </tr>
    <tr>
      <td>Summary</td>
      <td></td>
    </tr>
    <tr>
      <td>Incident type</td>
      <td></td>
    </tr>
    <tr>
      <td>Completed Date</td>
      <td></td>
    </tr>
  </tbody>
</table>
