<%#
---
title: 2019 Traffic Tickets
date: "2020-07-10"
status: Included
description: Export of traffic tickets written in 2019 from MassDOT database
links:
  - https://www.muckrock.com/foi/massachusetts-1/2019-motor-vehicle-violation-citations-95815/
---
%>

<p>MassDOT provided two data files, each with mostly the same fields. One file provides the ID of the officer who wrote a ticket, and the other provides the ticket number. We join these two files to derive the data available on The Woke Windows Project.</p>
