<%#
---
title: Suffolk County DA 2019 Damion Export
date: "2020-08-10"
status: Available
description: Export from the SCDAO's case management system
links:
  - https://www.muckrock.com/foi/suffolk-county-11/case-log-2019-through-present-98204/
  - https://wokewindows-data.s3.amazonaws.com/scdao_prr_20_0716b.zip

---
%>

<p>
  This is an export from the DAMION case management system, the internal system used by the Suffolk County District Attorney's Office to track cases. These records include the race and sex of the defendant.
</p>
<p>
The Records Access Officer at the SCDAO provided detailed documentation of the different fields (which is included in the ZIP file); please refer to that letter for more information.
</p>
<p>
This record-set is not displayed on the Woke Windows website because it does not contain incident numbers, or officer ids, or any other field which could be used to connect the records with the existing data in our database.
</p>

