<%#
---
title: 2010 to 2020 Allegations
date: "2020-06-24"
status: Available
description: Boston Police Internal Affairs Division records
links:
  - https://twitter.com/wutrain/status/1275784386110242817
---
%>

<p>This spreadsheet was released as part of a dataset requested by the city council under Section 17F of the <a href="https://en.wikipedia.org/wiki/Boston_City_Charter">Boston City Charter</a>. See the directory <i>17F Request #9</i> in the Google Drive linked to from that tweet.</p>

<p>These records cover a subset of allegations: Conduct Unbecoming, Neg.Duty/Unreasonable Judge, Respectful Treatment, Self Identification, and Use of Force. <a href="https://twitter.com/nathan_story/status/1304446879665729537">See this Twitter thread</a>.</p>

<p>See also our <%= link_to "help page on Internal Affairs", help_path("internal_affairs") %>.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>IA No</td>
      <td>A particular number may appear multiple times in the spreadsheet, once for each allegation against a particular officer</td>
    </tr>
    <tr>
      <td>Incident type</td>
      <td>Either <i>Citizen complaint</i> or <i>Internal investigation</i></td>
    </tr>
    <tr>
      <td>Received date</td>
      <td></td>
    </tr>
    <tr>
      <td>Title/rank (snap)</td>
      <td></td>
    </tr>
    <tr>
      <td>First name</td>
      <td></td>
    </tr>
    <tr>
      <td>Last name</td>
      <td></td>
    </tr>
    <tr>
      <td>Allegation</td>
      <td></td>
    </tr>
    <tr>
      <td>Disposition</td>
      <td>e.g. <i>Sustained</i> or <i>Exonerated</i></td>
    </tr>
    <tr>
      <td>Completed date</td>
      <td></td>
    </tr>
  </tbody>
</table>
