<%#
---
title: BPD Alpha Listing with Badges
date: "2016-07-26"
status: Available
description: Roster of Boston Police officers from July 2016
links:
  - https://www.muckrock.com/foi/boston-3/boston-police-department-personnel-roster-20433/
---
%>
<p>This is a listing of Boston Police officers from July 2016. Civilian employees are not included on this list.</p>
<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>IDNO6</td>
      <td>Six digit City of Boston employee id</td>
    </tr>
    <tr>
      <td>NAME</td>
      <td>Employee name in the same format as earnings reports</td>
    </tr>
    <tr>
      <td>RANK</td>
      <td>Capt, Lieut, etc.</td>
    </tr>
    <tr>
      <td>BADGE</td>
      <td></td>
    </tr>
    <tr>
      <td>DOA</td>
      <td>Date of Appointment (start date)</td>
    </tr>
    <tr>
      <td>TITLE</td>
      <td>Same values as the <i>TITLE</i> field in the <a href="#employee_earnings">Employee Earnings Reports</a></td>
    </tr>
    <tr>
      <td>orgname</td>
      <td>Organization within the BPD</td>
    </tr>
    <tr>
      <td>STATUS</td>
      <td>A or P &mdash; I'm unclear what this means</td>
    </tr>
  </tbody>
</table>
