<%#
---
title: 2020 Alpha Listing
date: "2020-07-15"
status: Available
description: Roster of BPD employees from July 2020
links:
  - https://www.muckrock.com/foi/boston-3/boston-police-department-personnel-roster-98136/
---
%>
<p>More recent version of <%= link_to "BPD Alpha Listing with Badges", data_source_path("alpha_listing") %>.</p>
