<%#
---
title: Boston Retirement System Retiree Benefits
status: Available
description: Records from the Boston Retirement System showing city retirees and their monthly pensions
links:
  - https://www.foiamachine.org/foi/retirees-and-benefits-records-9258/?sharing=Z5NVJQ1HRMIG
  - https://wokewindows-data.s3.amazonaws.com/Request%20from%20Boston%20Herald%20-%2009.09.2020.xlsx
---
%>

<p>This is a spreadsheet dated Sep 9, 2020 that was originally requested by the Boston Herald from the Boston Retirement System (BRS). It shows all the retirees who receive pension payments from BRS. This includes persons who retired from the Boston Police Department.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SORT_NAME</td>
      <td>the name of the retiree</td>
    </tr>
    <tr>
      <td>GROSS_AMOUNT</td>
      <td>the monthly benefit amount</td>
    </tr>
    <tr>
      <td>RETIREMENT_DATE</td>
      <td>ranges from July 1, 1953 to July 6, 2020</td>
    </tr>
    <tr>
      <td>DEPARTMENT</td>
      <td>e.g. "BOSTON POLICE DEPARTMENT - 211000"</td>
    </tr>
    <tr>
      <td>JOB_DESCRIPTION</td>
      <td>this matches the title in the <a href="#employee_earnings">Employee Earnings Reports</a></td>
    </tr>
  </tbody>
</table>

<h2>External Links</h2>
<p>
Boston Herald. 2020. <a href="https://www.bostonherald.com/2020/09/27/boston-paying-out-596m-a-year-in-pensions/">Boston paying out $596M a year in pensions [+full list]</a> &mdash; article written using this data
</p>
