<%#
---
title: BPD FIO Data
date: "2019-12-31"
status: Available
description: Cleaned FIO data
links:
  - https://github.com/jacoblurye/bpd-fio-data
---
%>

<p>Cleaned versions of <%= link_to "FIO Records FieldContact Table", data_source_path("field_contact") %> and <%= link_to "FIO Records FieldContact_Name Table", data_source_path("field_contact_name") %>.</p>
