<%#
---
title: 2001 to 2011 IA Data
date: "2011-12-31"
status: Included
description: Boston Police Internal Affairs Division records
links:
  - http://vault.blackstonian.org/
---
%>

<p>This is a PDF document showing Internal Affairs cases over a ten year period. It is formatted in a manner which makes the document almost impossible to use as is; the values for each row are split across three pages. To get the complete first row, for example, you need to combine the data on pages 1, 168, and 335.</p>
<p>We've already done the work to create a file combining each row onto a single line. You can download that file here: <a href="/downloads/bpd_ia_data_2001_2011.zip">bpd_ia_data_2001_2011.zip</a></p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>IA No</td>
      <td></td>
    </tr>
    <tr>
      <td>Case No</td>
      <td></td>
    </tr>
    <tr>
      <td>Incident type</td>
      <td>
        <i>Internal investigation</i><br>
        <i>Citizen complaint</i><br>
        <i>Inquiry</i><br>
        <i>Preliminary Investigation</i><br>
        <i>General Inquiry</i>
      </td>
    </tr>
    <tr>
      <td>Received date</td>
      <td></td>
    </tr>
    <tr>
      <td>First name</td>
      <td></td>
    </tr>
    <tr>
      <td>Last name</td>
      <td></td>
    </tr>
    <tr>
      <td>Title</td>
      <td></td>
    </tr>
    <tr>
      <td>Badge/ID number</td>
      <td>this is <i>not</i> the six-digit employee id number. It sometimes matches the <code>badge</code> field in the <a href="#alpha_listing">BPD Alpha Listing with Badges</a> file, but it seems like badge numbers are sometimes re-assigned, and, so, are not a useful identifier.</td>
    </tr>
    <tr>
      <td>Allegation</td>
      <td></td>
    </tr>
    <tr>
      <td>Finding</td>
      <td>e.g. <i>Sustained</i> or <i>Exonerated</i></td>
    </tr>
    <tr>
      <td>Finding date</td>
      <td></td>
    </tr>
    <tr>
      <td>Action taken</td>
      <td>always blank</td>
    </tr>
  </tbody>
</table>
