<%#
---
title: Crime Incident Reports
description: Daily file of BPD incident report data
status: Available
links:
  - https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system
---
%>

<p>On a daily basis, the Boston Police Department posts a file to the City of Boston's Open Data Hub containing a subset of the fields present in the department's crime incident report system.</p>
<p>If you are using this data directly for analysis, you should note that a given incident number may appear multiple times in the file. This seems to occur when multiple offenses are associated with the one incident number.</p>
<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>INCIDENT_NUMBER</td>
      <td></td>
    </tr>
    <tr>
      <td>OFFENSE_CODE</td>
      <td>a key is provided for these on the data.boston.gov site</td>
    </tr>
    <tr>
      <td>OFFENSE_CODE_GROUP</td>
      <td></td>
    </tr>
    <tr>
      <td>OFFENSE_DESCRIPTION</td>
      <td></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td>one of the <a href="https://bpdnews.com/districts">BPD Districts</a> e.g. <i>E13</i></td>
    </tr>
    <tr>
      <td>REPORTING_AREA</td>
      <td></td>
    </tr>
    <tr>
      <td>SHOOTING</td>
      <td></td>
    </tr>
    <tr>
      <td>OCCURRED_ON_DATE</td>
      <td></td>
    </tr>
    <tr>
      <td>YEAR</td>
      <td></td>
    </tr>
    <tr>
      <td>MONTH</td>
      <td></td>
    </tr>
    <tr>
      <td>DAY_OF_WEEK</td>
      <td></td>
    </tr>
    <tr>
      <td>HOUR</td>
      <td></td>
    </tr>
    <tr>
      <td>UCR_PART</td>
      <td></td>
    </tr>
    <tr>
      <td>STREET</td>
      <td></td>
    </tr>
    <tr>
      <td>Lat</td>
      <td></td>
    </tr>
    <tr>
      <td>Long</td>
      <td></td>
    </tr>
    <tr>
      <td>Location</td>
      <td></td>
    </tr>
  </tbody>
</table>
