<%#
---
title: Forfeitures by Suffolk County District Attorney
date: "2015-05-07"
status: Available
description: PDF tables listing asset forfeitures cases
links:
  - https://www.muckrock.com/foi/suffolk-county-11/suffolk-county-seized-asset-logbook-13587/
  - https://data.aclum.org/public-records/asset-forfeiture-by-suffolk-county-district-attorney/
---
%>

<p>These PDFs contain tables listing assets seized by the Suffolk County District Attorney under <a href="https://malegislature.gov/Laws/GeneralLaws/PartI/TitleXV/Chapter94C/Section47">Mass. Gen. L. c. 94C, ยง 47</a>.</p>
<p>We currently import the following files:</p>
<ul class="list-unstyled">
  <li>2012 Superior Court Over $1,000_Redacted.pdf</li>
  <li>2013 Superior Court Over $1,000_Redacted.pdf</li>
  <li>2014 Superior Court Over $1,000_Redacted.pdf</li>
  <li>2015 Superior Court Over $1,000_Redacted.pdf</li>
  <li>DC_Dorchester_Redacted.pdf</li>
  <li>DC_Roxbury_Redacted.pdf</li>
  <li>DC_Boston_Municipal_Court_Redacted.pdf</li>
  <li>DC_West_Roxbury_Redacted.pdf</li>
  <li>DC_East_Boston_Redacted.pdf</li>
  <li>DC_Brighton_Redacted.pdf</li>
  <li>DC_Charlestown_Redacted.pdf</li>
</ul>
<p>The DC_ files are for each of the <a href="https://www.mass.gov/orgs/boston-municipal-court">Boston Municipal Courts</a>, and seem to cover the years 2001 through part of 2015.</p>
<p>We only import the <code>SUCV#</code>, <code>AMT.</code>, <code>M/V</code>, <code>police report #</code>, and <code>Seizure Date</code> fields. To see other fields, you must refer to the original source documents.</p>
<p>We are not currently importing the 2010 and 2011 Superior Court files because some of the tables in these files need to be OCR'd.</p>
<p>We only import records where there is a docket number for the case, this means we are not importing nearly half of the records in these files.</p>
<p>We convert the docket numbers to the new formats described on <a href="https://www.mass.gov/search-court-dockets-calendars-and-case-information">this page</a> under the <i>Case numbering formats</i> heading.</p>
