<%#
---
title: Detail Records 2019
date: "2019-12-31"
status: Included
description: Spreadsheet of paid details worked by Boston Police officers in 2019
links:
  - https://www.muckrock.com/foi/boston-3/2019-paid-detail-cards-95919/
---
%>

<p>Spreadsheet of paid details worked by Boston Police officers in the year 2019.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RowId</td>
      <td></td>
    </tr>
    <tr>
      <td>Tracking_No</td>
      <td>this is unique</td>
    </tr>
    <tr>
      <td>Emp_No</td>
      <td>matches the employee id in other data sources</td>
    </tr>
    <tr>
      <td>Emp_Name</td>
      <td></td>
    </tr>
    <tr>
      <td>Emp_Rank</td>
      <td>ranges from 9 to 3; 3 = Captain, ...</td>
    </tr>
    <tr>
      <td>Customer_No</td>
      <td></td>
    </tr>
    <tr>
      <td>Customer_Name</td>
      <td></td>
    </tr>
    <tr>
      <td>Street_No</td>
      <td></td>
    </tr>
    <tr>
      <td>Street</td>
      <td></td>
    </tr>
    <tr>
      <td>xStreet</td>
      <td></td>
    </tr>
    <tr>
      <td>Start_date</td>
      <td></td>
    </tr>
    <tr>
      <td>Start_Time</td>
      <td></td>
    </tr>
    <tr>
      <td>End_date</td>
      <td></td>
    </tr>
    <tr>
      <td>End_Time</td>
      <td></td>
    </tr>
    <tr>
      <td>Hours_Worked</td>
      <td></td>
    </tr>
    <tr>
      <td>Detail_Type</td>
      <td>I'm guessing: <code>C</code> = Construction; <code>S</code> = Security</td>
    </tr>
    <tr>
      <td>Pay_Hours</td>
      <td></td>
    </tr>
    <tr>
      <td>Pay_Amount</td>
      <td></td>
    </tr>
    <tr>
      <td>Pay_Rate</td>
      <td></td>
    </tr>
  </tbody>
</table>
