<%#
---
title: Employee Earnings Report
date: "2019-12-31"
status: Included
description: Annual earnings for every City of Boston employee
links:
  - https://data.boston.gov/dataset/employee-earnings-report
  - https://github.com/nstory/boston_pd_earnings
---
%>

<p>The City of Boston's Office of Human Resources publishes an annual report showing how much the city paid each employee.</p>

<p>If you wish to download a single spreadsheet containing all this data, see: <a href="https://github.com/nstory/boston_pd_earnings">nstory/boston_pd_earnings</a>.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NAME</td>
      <td></td>
    </tr>
    <tr>
      <td>DEPARTMENT_NAME</td>
      <td></td>
    </tr>
    <tr>
      <td>TITLE</td>
      <td></td>
    </tr>
    <tr>
      <td>REGULAR</td>
      <td></td>
    </tr>
    <tr>
      <td>RETRO</td>
      <td></td>
    </tr>
    <tr>
      <td>OTHER</td>
      <td>per <a href="https://www.muckrock.com/foi/boston-3/bpd-complete-payroll-for-top-earners-6979/">this exchange on MuckRock</a>: "The amount in this column is a sum of annual vacation/sick time/personal leave buy back amounts, uniform allowance, (currently $800.00), and if applicable, settlements and grievance amounts"</td>
    </tr>
    <tr>
      <td>OVERTIME</td>
      <td></td>
    </tr>
    <tr>
      <td>INJURED</td>
      <td></td>
    </tr>
    <tr>
      <td>DETAIL</td>
      <td>from working paid details see <a href="https://static1.squarespace.com/static/5086f19ce4b0ad16ff15598d/t/52af60cfe4b007c7c2257da2/1387225295091/Rule+325.pdf">Rule 325</a></td>
    </tr>
    <tr>
      <td>QUINN/EDUCATION INCENTIVE</td>
      <td>see <a href="https://www.mass.edu/osfa/initiatives/pcipp.asp">Police Career Incentive Pay Program</a> (PCIPP)</td>
    </tr>
    <tr>
      <td>TOTAL EARNINGS</td>
      <td></td>
    </tr>
    <tr>
      <td>POSTAL</td>
      <td>five digit zip code</td>
    </tr>
  </tbody>
</table>
