<%#
---
title: FEC Campaign Finance Data
status: Included
description: Data from the FEC on individual contributions to federal campaign committees
links:
  - https://www.fec.gov/data/receipts/individual-contributions/
---
%>

<p>See our page on <a href="/pages/contributions">Political Contributions</a> for details on how we searched this data source and incorporated these records into Woke Windows.</p>
