<%#
---
title: FIO Records FieldContact_Name Table
date: "2019-12-31"
status: Available
description: Field Interrogation and Observation (FIO) records
links:
  - https://data.boston.gov/dataset/boston-police-department-fio
---
%>

<p>See also <%= link_to "BPD FIO Data", data_source_path("bpd_fio_data") %>.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>fc_num</td>
      <td></td>
    </tr>
    <tr>
      <td>contact_date</td>
      <td></td>
    </tr>
    <tr>
      <td>sex</td>
      <td></td>
    </tr>
    <tr>
      <td>race</td>
      <td></td>
    </tr>
    <tr>
      <td>age</td>
      <td></td>
    </tr>
    <tr>
      <td>build</td>
      <td></td>
    </tr>
    <tr>
      <td>hair_style</td>
      <td></td>
    </tr>
    <tr>
      <td>skin_tone</td>
      <td></td>
    </tr>
    <tr>
      <td>ethnicity</td>
      <td></td>
    </tr>
    <tr>
      <td>otherclothing</td>
      <td></td>
    </tr>
    <tr>
      <td>deceased</td>
      <td></td>
    </tr>
    <tr>
      <td>license_state</td>
      <td></td>
    </tr>
    <tr>
      <td>license_type</td>
      <td></td>
    </tr>
    <tr>
      <td>frisk/search</td>
      <td></td>
    </tr>
  </tbody>
</table>
