<%#
---
title: FIO Records FieldContact Table
date: "2019-12-31"
status: Available
description: Field Interrogation and Observation (FIO) records
links:
  - https://data.boston.gov/dataset/boston-police-department-fio
---
%>

<p>See also <%= link_to "BPD FIO Data", data_source_path("bpd_fio_data") %>.</p>

<p>These fields are from the Mark43 file, which applies to records from Sep 29, 2019 onwards.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>fc_num</td>
      <td></td>
    </tr>
    <tr>
      <td>contact_date</td>
      <td></td>
    </tr>
    <tr>
      <td>contact_officer</td>
      <td></td>
    </tr>
    <tr>
      <td>contact_officer_name</td>
      <td></td>
    </tr>
    <tr>
      <td>supervisor</td>
      <td></td>
    </tr>
    <tr>
      <td>supervisor_name</td>
      <td></td>
    </tr>
    <tr>
      <td>street</td>
      <td></td>
    </tr>
    <tr>
      <td>city</td>
      <td></td>
    </tr>
    <tr>
      <td>state</td>
      <td></td>
    </tr>
    <tr>
      <td>zip</td>
      <td></td>
    </tr>
    <tr>
      <td>stop_duration</td>
      <td></td>
    </tr>
    <tr>
      <td>circumstance</td>
      <td>one of <i>Encountered</i>, <i>Stopped</i>, <i>Observed</i></td>
    </tr>
    <tr>
      <td>basis</td>
      <td>one of <i>Probable Cause</i>, <i>Reasonable Suspicion</i>, <i>Encounter</i>, <i>Intel</i></td>
    </tr>
    <tr>
      <td>vehicle_year</td>
      <td></td>
    </tr>
    <tr>
      <td>vehicle_state</td>
      <td></td>
    </tr>
    <tr>
      <td>vehicle_model</td>
      <td></td>
    </tr>
    <tr>
      <td>vehicle_color</td>
      <td></td>
    </tr>
    <tr>
      <td>vehicle_style</td>
      <td></td>
    </tr>
    <tr>
      <td>vehicle_type</td>
      <td></td>
    </tr>
    <tr>
      <td>key_situations</td>
      <td></td>
    </tr>
    <tr>
      <td>narrative</td>
      <td></td>
    </tr>
  </tbody>
</table>
