<%#
---
title: FIO Records 2011 - 2015 (Old RMS)
date: "2015-06-30"
status: Available
description: Older Field Interrogation and Observation (FIO) records
links:
  - https://data.boston.gov/dataset/boston-police-department-fio
---
%>

<p>
FIO records from Jan 2011 through June 2015 came from a different system and have a different format. There isn't a separate FieldContact and FieldContact_Name table in this data source.
</p>

<p>
We do not currently load these records into Woke Windows because it's unclear how to best make this data source consistent with the more recent FIO data.
</p>

