<%#
---
title: IAD Cases 2010 through 2020-08-15
date: "2020-08-15"
status: Included
description: Boston Police Internal Affairs Division records
links:
  - https://wokewindows-data.s3.amazonaws.com/IAD%20Cases%20January%201st%202010%20to%20August%2015th%202020%20-%20Sgt.%20Boyle%20updated%20(2)%20(3).xlsx
---
%>

<p>This spreadsheet was received by <a href="https://twitter.com/andrewqmr">@andrewqmr</a> from the Boston Police Department in response to a public records request. This spreadsheet shows findings by the Internal Affairs Division (IAD) for cases opened between 2010-01-01 and 2020-08-15.</p>

<p>Pending cases (those which do not yet have a final finding) are shown in this spreadsheet, but the names of those officers who are under investigation are not provided. This spreadsheet only contains cases against sworn personnel; civilian employees are not listed.</p>

<p>See also the <%= link_to "2010 to 2020 Allegations", data_source_path("allegations_2010_to_2020") %> data source which contains IAD cases from nearly the same time period. That data source does include civilian employees of the department, but it only contains a subset of allegation types.</p>

<p>See also our <%= link_to "help page on Internal Affairs", help_path("internal_affairs") %>.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>IA No</td>
      <td>A particular number may appear multiple times in the spreadsheet, once for each allegation against a particular officer</td>
    </tr>
    <tr>
      <td>Incident type</td>
      <td>Either <i>Citizen complaint</i> or <i>Internal investigation</i></td>
    </tr>
    <tr>
      <td>Received date</td>
      <td></td>
    </tr>
    <tr>
      <td>Title/rank (snap)</td>
      <td></td>
    </tr>
    <tr>
      <td>First name</td>
      <td></td>
    </tr>
    <tr>
      <td>Last name</td>
      <td></td>
    </tr>
    <tr>
      <td>Badge/ID number</td>
      <td>the badge number of the officer (this is different from the employee id)</td>
    </tr>
    <tr>
      <td>ID number</td>
      <td>unknown. this doesn't correspond to any other number in our data</td>
    </tr>
    <tr>
      <td>Allegation</td>
      <td></td>
    </tr>
    <tr>
      <td>Finding</td>
      <td></td>
    </tr>
    <tr>
      <td>Finding date</td>
      <td></td>
    </tr>
    <tr>
      <td>Action taken</td>
      <td></td>
    </tr>
    <tr>
      <td>Days or hours suspended</td>
      <td></td>
    </tr>
  </tbody>
</table>
