<%#
---
title: Legacy Crime Incident Reports
description: BPD incident report data from July 2012 - August 2015
status: Available
links:
  - https://data.boston.gov/dataset/crime-incident-reports-july-2012-august-2015-source-legacy-system
---
%>

<p>Similar to the <a href="#crime_incident_reports">Crime Incident Reports</a> but for the period July 2012 - August 2015. See the <i>Crime Incident Field Explanation</i> document at the above link for details.</p>

<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>COMPNOS</td>
      <td>we're importing this as the Incident Number</td>
    </tr>
    <tr>
      <td>NatureCode</td>
      <td></td>
    </tr>
    <tr>
      <td>INCIDENT_TYPE_DESCRIPTION</td>
      <td></td>
    </tr>
    <tr>
      <td>MAIN_CRIMECODE</td>
      <td></td>
    </tr>
    <tr>
      <td>REPTDISTRICT</td>
      <td></td>
    </tr>
    <tr>
      <td>REPORTINGAREA</td>
      <td></td>
    </tr>
    <tr>
      <td>FROMDATE</td>
      <td></td>
    </tr>
    <tr>
      <td>WEAPONTYPE</td>
      <td></td>
    </tr>
    <tr>
      <td>Shooting</td>
      <td></td>
    </tr>
    <tr>
      <td>DOMESTIC</td>
      <td></td>
    </tr>
    <tr>
      <td>SHIFT</td>
      <td></td>
    </tr>
    <tr>
      <td>Year</td>
      <td></td>
    </tr>
    <tr>
      <td>Month</td>
      <td></td>
    </tr>
    <tr>
      <td>DAY_WEEK</td>
      <td></td>
    </tr>
    <tr>
      <td>UCRPART</td>
      <td></td>
    </tr>
    <tr>
      <td>X</td>
      <td></td>
    </tr>
    <tr>
      <td>Y</td>
      <td></td>
    </tr>
    <tr>
      <td>STREETNAME</td>
      <td></td>
    </tr>
    <tr>
      <td>XSTREETNAME</td>
      <td></td>
    </tr>
    <tr>
      <td>Location</td>
      <td></td>
    </tr>
  </tbody>
</table>
