<%#
---
title: MPTC In-Service Training
date: "2020-09-01"
description: In-service training taken by officers at MPTC academies
status: Available
links:
  - https://www.muckrock.com/foi/massachusetts-1/in-service-training-records-98394/
---
%>

<p>These records show in-service training classes taken by officers throughout Massachusetts through the Municipal Police Training Committee (MPTC).</p>

<p>Boston Police officers rarely appear in these records, most likely because they do in-service training through the Boston Police Academy, and that training is not reported to the MPTC. Therefore this data has not been incorporated into the StateReference Window database.</p>
