<%#
---
title: NIBRS Incident Reports
date: "2019-12-31"
status: Included
description: Incident data submitted by the BPD to the FBI
links:
  - https://www.muckrock.com/foi/massachusetts-1/boston-police-nibrs-files-98203/
---
%>
<p>
  Since September 2019, the Boston Police Department has submitted incident data to the FBI's 
  <a href="https://en.wikipedia.org/wiki/National_Incident-Based_Reporting_System">National Incident-Based Reporting System (NIBRS)</a>. 
  Obtained through a public records request, this dataset provides additional incident information not tracked in the BPD's 
  <%= link_to "Crime Incident Reports", data_source_path("crime_incident_reports") %>
  <a>
</p>
<p>The City of Boston has made only the data for September 2019 through December 2019 available. Data for 2020 will not be available until 2021.</p>
<p>Like the <%= link_to "Crime Incident Reports", data_source_path("crime_incident_reports") %> dataset, each row in the original dataset corresponds to a single offense. An incident may include multiple offenses.</p>
<p>Note: the original dataset includes additional columns that Woke Windows does not yet ingest.</p>
<table class="table help__definitions">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Incident Number</td>
      <td></td>
    </tr>
    <tr>
      <td>Offense Code</td>
      <td>the Uniform Crime Reporting (UCR) code for the offense</td>
    </tr>
    <tr>
      <td>Offense Type</td>
      <td>a description of the alleged offense</td>
    </tr>
    <tr>
      <td>Attempted or Completed</td>
      <td>whether the offense was "attempted" or "completed"</td>
    </tr>
    <tr>
      <td>Number of Crimes</td>
      <td>(offense-level property)</td>
    </tr>
    <tr>
      <td>Number of Victims</td>
      <td>(offense-level property)</td>
    </tr>
    <tr>
      <td>Number of Stolen Vehicles</td>
      <td>(offense-level property)</td>
    </tr>
    <tr>
      <td>Number of Recovered Vehicles</td>
      <td>(offense-level property)</td>
    </tr>
    <tr>
      <td>Method of Entry</td>
      <td>in the case of a burglary offense, whether entry was "forced" or "not forced"</td>
    </tr>
    <tr>
      <td>Location Type</td>
      <td>the type of place where the incident happened</td>
    </tr>
    <tr>
      <td>Incident Clearance</td>
      <td>the incident's resolution (e.g., if a suspected offender was arrested)</td>
    </tr>
    <tr>
      <td>Number of Victims in Incident</td>
      <td>(incident-level property)</td>
    </tr>
    <tr>
      <td>Number of Offenders in Incident</td>
      <td>(incident-level property)</td>
    </tr>
    <tr>
      <td>Number of Arrestees in Incident</td>
      <td>(incident-level property)</td>
    </tr>
  </tbody>
</table>
