<%#
---
title: OCPF Contributions and Expenditures
status: Included
description: Data from the Office of Campaign and Political Finance on individual contributions to candidates for state and local offices
links:
  - https://www.ocpf.us/Reports/SearchItems
---
%>

<p>See our page on <a href="/pages/contributions">Political Contributions</a> for details on how we searched this data source and incorporated these records into Woke Windows.</p>
