<%#
---
title: City of Boston Parking Tickets
status: Requested
description: All parking tickets issued by Boston in 2019
links:
  - https://www.foiamachine.org/foi/parking-tickets-9161/?sharing=LEG0N8AT8X8J
---
%>

<p>Requested from the Boston Transportation Department</p>
