<%#
---
title: Boston Parking Tickets from Jan 1, 2018 through Aug 19, 2020
status: Available
description: All parking tickets issued by Boston from 1/1/18 through 8/19/2020
links:
  - https://www.foiamachine.org/foi/parking-tickets-9161/?sharing=LEG0N8AT8X8J
---
%>

<p>This dataset consists of 3,200,977 tickets in 11 spreadsheets.</p>

<p>See our blog post <a href="http://blog.wokewindows.org/2020/09/17/parking-tickets.html">Boston Parking Tickets Data</a> about this dataset.</p>

<p>Download all files provided by the Boston Transportation Department: <a href="https://wokewindows-data.s3.amazonaws.com/R000465-080320.zip">R000465-080320.zip</a></p>

<p>Download a compressed CSV file of all the data: <a href="https://wokewindows-data.s3.amazonaws.com/parking_tickets.csv.gz">parking_tickets.csv.gz</a></p>
