<%#
---
title: Police Career Incentive Pay Program
status: Withdrawn
description: Records at the Department of Higher Education related to Quinn pay
links:
  - https://www.muckrock.com/foi/massachusetts-1/police-career-incentive-pay-program-applications-95899/
---
%>

<p>As part of the <a href="https://www.mass.edu/osfa/initiatives/pcipp.asp">Police Career Incentive Pay Program (PCIPP)</a> or "Quinn Bill", participating police departments would submit to the <a href="https://www.mass.edu/home.asp">Department of Higher Education</a> information related to Quinn-eligible degrees attained by officers. Although the Quinn program has, for the most part, been discontinued, the Department of Higher Education still holds records submitted by departments going back to the 1970s.</p>

<p>The Boston Police Department opted into the bill starting in 2000 (<a href="https://bmrb.org/wp-content/uploads/2016/05/SR03-3.pdf">BMRB, <i>Time to Replace the Quinn Bill</i>, 2000</a>), and continues to pay Quinn benefits to eligible officers, though the state no longer provides its share of the funding.</p>

<p>Due to the expense of digitizing the paper records, we withdrew our request for this data. See <a href="https://bmrb.org/wp-content/uploads/2016/05/SR03-3.pdf">the thread on MuckRock</a> for more details.</p>
