<%#
---
title: PWD Work Zones 2018 to Present
date: "2019-12-31"
status: Requested
description: Work zones reported to the Boston Public Works Department
links:
  - https://www.foiamachine.org/foi/public-works-work-zones-2018-to-present-9135/?sharing=FOYE34YJ60SN
---
%>

<p>The Public Works Department (PWD) provides a daily file with currently active work zones here: <a href="https://data.boston.gov/dataset/public-works-active-work-zones">https://data.boston.gov/dataset/public-works-active-work-zones</a>. This request is for a historical list of work zones. I hope to join that list with the <%= link_to "Detail Records 2019", data_source_path("detail_records") %> file.</p>
