<%#
---
title: Roster 2020-09-04
date: "2020-09-04"
status: Included
description: List of sworn personnel with sex, ethnic group, and other fields
links:
  - https://wokewindows-data.s3.amazonaws.com/PRR_9_4_2020.xls
---
%>

<p>List of Boston Police Department sworn personnel as of 9/3/2020. This file contains a lot of fields including the sex and ethnic group of each employee.</p>
