<%#
---
title: 17F SWAT After-Action Reports
date: "2020-06-24"
status: Available
description: PDF scans of reports covering 2010 - 2014
links:
  - https://twitter.com/wutrain/status/1275784386110242817
---
%>

<p>Five PDF documents of after-action reports covering the years 2010 - 2014. Each file contains all the SWAT reports for a given year. These were released as part of the same 17F request as <%= link_to "2010 to 2020 Allegations", data_source_path("allegations_2010_to_2020") %>.</p>
<p>These are scans of printed reports.</p>
<p><a href="https://github.com/nstory/bpd_swat_reports">https://github.com/nstory/bpd_swat_reports</a> &mdash; project we are working on to tabularize these reports</p>
<p><a href="https://wokewindows-data.s3.amazonaws.com/all_swats.zip">https://wokewindows-data.s3.amazonaws.com/all_swats.zip</a> &mdash; all the reports, each split into a separate file and OCR'd</p>
