.table-common {
  tbody tr td:first-child {
    padding-left: 17px; // align with headers
  }
}

.table-loading {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 2;

  .loading &, .search-queued & {
    display: flex;
  }

  .spinner-border {
    width: 64px;
    height: 64px;
  }
}
