<% @layout_application_fullscreen = true %>

<div class="table-fullscreen__container">
  <div class="table-fullscreen__description">
    <h1>Incident Journal <small>Incident reports submitted by officers <%= link_to "Learn more", page_path("help", anchor: "incidents") %></small></h1>
  </div>
  <div class="table-fullscreen__table">
    <%= render "shared/tables/incidents" %>
  </div>
</div>
