<% @layout_application_title = "Civil Asset Forfeitures" %>

<%= render "shared/index", table_partial: "shared/tables/forfeitures" do %>
    <h1>Civil Asset Forfeitures <small>Property taken by the Boston Police Department through civil asset forfeiture. Incomplete list covering 2013 - 2015. <%= link_to "Learn\u00a0more", page_path("help", anchor: "forfeitures") %></small></h1>
<% end %>
