<% @layout_application_title = "SWAT Reports" %>

<%= render "shared/index", table_partial: "shared/tables/swats" do %>
    <h1>SWAT Reports <small>After action reports of incidents where the Boston Police Special Operations Division deployed. Covers 2010 - 2014. <%= link_to "Learn\u00a0more", page_path("help", anchor: "swats") %></small></h1>
<% end %>
