.incidents-table {
  tr.child td.child {
    border-top: none;
  }

  .incidents-table__details {
    dt {
      @extend .col-sm-4;
    }
    dd {
      @extend .col-sm-8;
      min-height: 24px;
    }
    white-space: normal; // undo nowrap
  }
}
