.table-fullscreen__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .dataTables_filter {
    display: none;
    padding-right: 12px;
  }

  .dataTables_info {
    padding: 6px 0 6px 12px;
  }
}

.table-fullscreen__description {
  margin-top: 8px;
  padding: 0 0 0 12px;
  h1 {
    font-size: 18px;
    padding-left: 4px;
  }
}

.table-fullscreen__search {
  margin-top: 8px;
  padding-right: 12px;
}

.table-fullscreen__table {
  flex: 1 1 auto;
}

