<table class="complaints-table display compact table-nowrap" style="width:100%" data-source="<%= datatable_complaints_path(format: :json) %>">
  <thead>
    <tr>
      <th scope="col">IA #</th>
      <th scope="col">Case #</th>
      <th scope="col">Type</th>
      <th scope="col">Received</th>
      <th scope="col">Occurred</th>
      <th scope="col">Officers</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
