<% json = compensations.map(&:as_json).to_json %>
<% id = "compensations#{json.hash.abs}" %>

<script>
  var <%= raw(id) %> = <%= raw(json) %>;
</script>

<table class="compensations-table display table-nowrap"  style="width:100%" data-id="<%= id %>">
  <thead>
    <th scope="col">Year</th>
    <th scope="col">Name</th>
    <th scope="col">Department</th>
    <th scope="col">Title</th>
    <th scope="col">Regular</th>
    <th scope="col">Retro</th>
    <th scope="col">Other</th>
    <th scope="col">Overtime</th>
    <th scope="col">Injured</th>
    <th scope="col">Detail</th>
    <th scope="col">Quinn</th>
    <th scope="col">Total</th>
    <th scope="col">Postal</th>
  </thead>
  <tbody>
  </tbody>
</table>
