<%
  params = {format: :json}.merge(local_assigns.fetch(:params, {}))
%>
<table
        class="incidents-table display compact table-nowrap"
        style="width:100%"
        data-source="<%= datatable_incidents_path(params) %>"
        data-options="<%= JSON.generate(local_assigns.fetch(:options, {})) %>"
        >
        <thead>
          <tr>
            <th scope="col">Incident #</th>
            <th scope="col">Occurred</th>
            <th scope="col">District</th>
            <th scope="col">Shooting?</th>
            <th scope="col">Location</th>
            <th scope="col">Street</th>
            <th scope="col">Nature of Incident</th>
            <th scope="col">Offenses</th>
            <th scope="col">Officer(s)</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
</table>
