<%# <div class="table-responsive"> %>
  <%# <table class="officers-table table table-striped table-bordered table-sm table-nowrap"  style="width:100%"> %>
  <table class="officers-table display compact table-nowrap"  style="width:100%">
    <%# <thead class="thead-dark"> %>
    <thead class="thead-dark">
      <th scope="col">Emp #</th>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Start Date</th>
      <th scope="col">Earnings (2019)</th>
      <th scope="col">Complaints</th>
      <th scope="col" title="Field Interrogation and Observation">FIOs</th>
      <th scope="col" title="# of entries in incident journal">Inc.</th>
      <th scope="col">Zip</th>
    </thead>
    <tbody>
    </tbody>
  </table>
<%# </div> %>
