<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger mt-3" role="alert">
        The StateReference Window Project is no longer being updated. <a href="https://blog.wokewindows.org/2022/07/11/bye-bye.html" class="alert-link">Read our post here.</a> Interested in public records? Check out <a href="https://www.statereference.com" class="alert-link">StateReference</a>.
      </div>
    </div>
  </div>
</div>
