<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger mt-3" role="alert">
        The Woke Windows Project is no longer being updated. <a href="https://blog.wokewindows.org/2022/07/11/bye-bye.html" class="alert-link">Read our post here.</a>
      </div>
    </div>
  </div>
</div>
