<h2 id="source_materials">Source Materials</h2>
<p>
  This page contains data ingested from the following sources:
</p>
<div class="table-responsive">
  <table class="table table-nowrap">
    <thead>
      <tr>
        <th>Data Source</th>
        <th>Filename</th>
      </tr>
    </thead>
    <tbody>
      <% attributions.each do |at| %>
        <tr>
          <td><%= link_to at.friendly_category, data_source_path(at.category) %></td>
          <td><%= at.url ? link_to(at.filename, at.url) : at.filename %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
