<% @layout_application_title = "Field Contacts" %>

<%= render "shared/index", table_partial: "shared/tables/field_contacts", table_id: "field-contacts-table" do %>
    <h1>Field Contacts <small>Field Interrogation and Observation (FIO) reports <%= link_to "Learn more", page_path("help", anchor: "field_contacts") %></small></h1>
<% end %>
