<div class="row mb-3">
  <div class="col-md-6">
    <%= paginate @appeals, window: 2 %>
  </div>
  <div class="col-md-6 text-md-right">
    <div><%= page_entries_info @appeals %></div>
    <div><a href="<%= csv_appeals_path(q: params[:q]) %>"><%= render "shared/icons/download" %> &nbsp;Export Results as CSV</a></div>
  </div>
</div>

