<% json = compensations.map(&:as_json).to_json %>
<% id = "compensations#{json.hash.abs}" %>

<script>
  var <%= raw(id) %> = <%= raw(json) %>;
</script>

<div class="compensations-chart__container" data-controller="compensations-chart" data-compensations-chart-data="<%= json %>">
  <canvas class="compensations-chart" data-target="compensations-chart.canvas"></canvas>
</div>

