<% @layout_application_title = "About" %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <p class="lead">The goal of the <i>Woke Windows Project</i> is to bring transparency to the activites of law enforcement in our community.</p>
      <p>We wish to be a resource for journalists and policy makers, but also for all the residents, workers, and students of the <a href="https://www.boston.gov/">City of Boston</a> and the <a href="https://www.mass.gov/">Commonwealth of Massachusetts</a> more generally.</p>
      <p> We collect data from public sources. We combine these data to form inter-linked reports and tables that give every individual the ability to understand policing in their community.</p>
      <p>Our focus at this time is on <a href="https://bpdnews.com/">The Boston Police Department</a>, because the activites of our local police have the greatest immediate impact on our lives.</p>
      <p>Do you want to help? We're an open source project. <a href="https://github.com/nstory/wokewindows">Visit us on GitHub.</a></p>
    </div>
  </div>
</div>
