<% @layout_application_title = "Help and Information" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 js-toc-content">
      <h1>Help and Information</h1>
      <p><i>The Woke Windows Project</i> consists of many data tables and types. This data is pulled from multiple sources.</p>
      <p>When you are viewing any type of record, e.g. an incident report or an employee, there will be a section <i>Source Materials</i>. This section lists the data sources from which this record was derived and provides links to them. You can use these original sources to confirm any information from the Woke Windows Project.</p>
      <p>Do you have questions? Advice? Compliments or critiques? Please reach out to us at <%= contact_us %>. Any and all feedback is welcome.</p>

      <h2 id="articles">Articles</h2>
      <p>We provide links from each <a href="#officers">officer record</a> to different news articles and publications referencing that officer. Most of these links were generated using an automated process that looks for instances of the officer's name in a selection of articles. This selection is limited to articles that mention or are about the Boston Police Department. This process is not 100% reliable; in certain cases (e.g. if another person mentioned in the article happens to share a name with an officer), an officer may be linked to an article that does not in-fact mention them.</p>
      <p>In addition to the automatic process, some articles have been manually added. If an article was manually added, or if it is an automatically added article that has been confirmed by a human being, a green checkmark <span class="text-success">&check;</span> is shown next to the article in the articles table. If the article was automatically added and has not been confirmed, it is shown with a gray checkmark <span class="text-muted">?</span></p>
      <p>We currently import articles from the following sources:<br>
      <a href="https://www.baystatebanner.com/">The Bay State Banner</a><br>
      <a href="https://www.bostonglobe.com/">The Boston Globe</a><br>
      <a href="https://www.bostonherald.com/">Boston Herald</a><br>
      <a href="https://www.thecrimson.com/">The Harvard Crimson</a><br>
      <a href="https://www.universalhub.com/">Universal Hub</a><br>
      <a href="https://www.wbur.org/">WBUR</a><br>
      <a href="https://www.wgbh.org/">WGBH</a>
      </p>

      <p>
        <a href="https://www.bpdnews.com/">bpdnews.com</a><br>
        The official website of the Boston Police Department
      </p>

      <p>
        <a href="https://bppa.org/pax-centurion/">Pax Centurion</a><br>
        Older issues are available from <a href="https://issuu.com/thebostonphoenix/stacks/a975ff2ab726412494c6be22fb0d9a99">Pax Centurion by The Pheonix - Issuu</a>
      </p>

      <p>
        <a href="https://www.mass.gov/civil-service-commission-decisions">Civil Service Commission Decisions</a><br>
        These are decisions rendered by the Civil Service Commission. An employee may, among other matters, appeal a suspension or termination to the commission.
      </p>

      <p>
        <a href="https://www.courtlistener.com/">CourtListener</a><br>
        Opinions from federal courts and Massachusetts state appellate courts.
      </p>

      <h2 id="data_tables">Data Tables</h2>

      <h3 id="complaints">Complaints (Internal Affairs)</h3>
      <p><a href="/help/internal_affairs">See the dedicated Internal Affairs help page</a></p>

      <h3 id="field_contacts">Field Contacts (FIO)</h3>
      <p>Field Interrogation and Observation (FIO) reports are how the BPD records the department's stop-and-frisk encounters (and other encouters, many of which do not involve a search).</p>
      <p>Per <a href="https://static1.squarespace.com/static/5086f19ce4b0ad16ff15598d/t/56a2569205caa7ee9f29e6a2/1453479570208/rule323.pdf">Rule 323</a>: "An FIOE Report shall be submitted subsequent to a field interaction/stop, a frisk, an observation, or an encounter".</p>
      <p>We ingest the cleaned <a href="#bpd_fio_data">BPD FIO Data</a> provided at <a href="https://github.com/jacoblurye/bpd-fio-data">jacoblurye/bpd-fio-data</a> (thanks <a href="https://github.com/jacoblurye">@jacoblurye</a>!) That data was sourced from the <a href="#field_contact">FieldContact Table</a> and <a href="#field_contact_name">FieldContact_Name</a> exports distributed on the <a href="https://data.boston.gov/">Analyze Boston website</a>.</p>
      <p>These reports are especially interesting because they 1. contain redacted prose narratives of the encounter and 2. contain a breakdown of the race and ethnicity of the individuals involved.</p>
      <p>If the <i>Frisked / Searched?</i> flag is <i>Yes</i>, this indicates that at least one of the stopped persons was searched. Beginning in September 2019, the search flag is also marked for each individual.</p>

      <h3 id="incidents">Incident Journal</h3>
      <p>When an officer responds to a call, carries out a search warrant, or otherwise performs a significant action, they fill out an incident report (sometimes referred to as Form 1.1). The BPD makes available a selection of fields from these reports through two public data sources: <a href="#crime_incident_reports">Crime Incident Reports</a> and <a href="#district_journal">Public Journal</a>. In addition, reports from 2012 - 2015 are taken from the <a href="#legacy_crime_incident_reports">Legacy Crime Incident Reports</a>.  We combine these data sources to create the list of incidents on this site.</p>
      <p>We automatically import new incident reports from these data sources on a daily basis.</p>
      <p>It's not clear if all incident reports are included in these public data sources, or if some sensitive categories are being filtered out. In addition, the routinely published information only captures a subset of the fields an officer enters when they submit these reports.</p>
      <p>A full incident report contains information about the people involved and a written narrative of events. Due to privacy concerns, the department will not release a full report without first applying redactions.</p>
      <p>To see the difference between a full report and what's available on this site, contrast the <a href="/downloads/172068118_PkvQylJ.pdf">full (redacted) report</a> for incident #172068118 and <a href="<%= incident_path('172068118') %>">our record</a> for that same incident.</p>

      <h3 id="details">Paid Details</h3>
      <p>A paid detail is when an officer is paid by a private company to direct traffic (e.g. around roadwork by a utility company) or to provide security. These companies put in a request for a police detail with the department, and then officers sign up for these shifts in addition to their regular hours.</p>
      <p>We currently only have records for the year 2019. This data is sourced from <a href="#detail_records">Detail Records 2019</a>.</p>
      <p>The contract between the department and the police unions stipulates that an officer is paid for a minimum of four hours of work, regardless of the number of hours actually worked. This rule among others explains the discrepancy between <i>Hours Worked</i> and <i>Pay Hours</i> you will see when browsing these records.</p>
      <p>For more information regarding department policies for paid details, see <a href="https://bpdnews.com/s/Rule-325.pdf">Rule 325</a> and <a href="https://bpdnews.com/s/Rule-326.pdf">Rule 326</a>.</p>


      <h3 id="officers">Officers &amp; Employees</h3>
      <p>Our goal is to present information regarding every sworn officer of the Boston Police Department. We also include some data on civilian employees of the department, but this is a lower priority. In order to link the data together effectively across multiple data sources, and to ensure we do not have duplicate entries, we only create records for those persons where we have the six-digit City of Boston employee id number.</p>
      <p>We currently harvest the employee id number from three sources: <a href="#alpha_listing">BPD Alpha Listing with Badges</a>, <a href="#alpha_listing_20200715">2020 Alpha Listing</a>, and <a href="#district_journal">Public Journal</a>. If a particular employee does not exist in any of these sources, they will not be listed on this site.</p>
      <p>On the page for each employee (see the page for <%= link_to "Commissioner Gross", officer_path("9018") %> as an example) the officer's annual earnings are broken down by category. The data for this report is sourced from the <a href="#employee_earnings">Employee Earnings Reports</a> produced by the City of Boston Office of Human Resources. The HR office supplies <a href="https://data.boston.gov/dataset/employee-earnings-report/resource/609a6014-5ab0-49d9-8c38-1389e7bf0d41">this explanation</a> of the different categories.</p>
      <p>Detail pay deserves special mention. This is pay earned by working paid details under the procedures described in <a href="https://static1.squarespace.com/static/5086f19ce4b0ad16ff15598d/t/52af60cfe4b007c7c2257da2/1387225295091/Rule+325.pdf">Rule 325</a>. The city should be receiving compensation from the private business that requested the detail.</p>
      <h4 id="officer_zip_code">Zip Code and Neighborhood</h4>
      <p>The zip code where the officer lives is taken from the most recent <a href="#employee_earnings">Employee Earnings Report</a> on which the officer appears. The state and neighborhood fields are calculated based on the zip code. The mapping of zip codes to neighborhoods was taken from the <a href="http://www.bostonplans.org/getattachment/8d4b1dc5-ce11-45b4-9bf5-370444b49b68">Boston Business Patterns 2016</a> report.</p>

      <h3 id="cases">Forfeiture Cases</h3>
      <p>This information is currently imported from a single source: <a href="#da_forfeitures">Forfeitures by Suffolk District Attorney.</a></p>

      <h3 id="swats">SWAT Reports</h3>
      <p>We have redacted SWAT incident reports covering 2010 - 2014 from <a href="#swat">17F SWAT After-Action Reports</a>. These reports were provided as several-hundred page PDF documents, each spanning an entire year. We've broken each incident out into an individual file, and we've run <a href="https://github.com/jbarlow83/OCRmyPDF">OCRmyPDF</a> on those individual files.</p>
      <p>We automatically discover the officers involved in each action based on their names and employee ids. Because the OCR process is not 100% reliable, there may be errors and/or omissions in the fields we parse out.</p>

      <h3 id="citations">Traffic Citations</h3>
      <p>These records show tickets written by Boston Police Department officers using the Massachusetts Uniform Citation form. These tickets are submitted to the Massachusetts Department of Transportation (MassDOT) either electronically or on paper (in which case they are scanned and the data is entered).</p>
      <p>This data comes from the <a href="#2019_tickets">2019 Traffic Tickets Data Source</a>.</p>

      <h2 id="data_sources">Data Sources</h2>
      <p>See <%= link_to "Data Sources", data_sources_path %>.</p>

      <h2 id="links">Links and Resources</h2>
      <p>
        <a href="https://bpdnews.com/rules-and-procedures">https://bpdnews.com/rules-and-procedures</a><br>
        Great resource for understanding the Boston Police Department (from the department itself).
      </p>
      <p>
        <a href="https://data.aclum.org/">Data for Justice Project</a><br>
        Lots of useful resources and tools from <a href="https://www.aclum.org/">ACLU Massachusetts</a>.
      </p>
      <p>
        <a href="https://masscrime.chs.state.ma.us/">CrimeSOLV</a><br>
        Tables and charts of crime data; compiled from data submitted by departments throughout Massachusetts.
      </p>
      <p>
        <a href="https://bpdfio.info/">BPD FIO Browser</a><br>
        Cool project for browsing/searching FIO reports.
      </p>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <div data-controller="toc" class="toc" style="position:sticky;top:12px"></div>
    </div>
  </div>
</div>
