<div class="container">
  <div class="row">
    <div class="col">
      <h1>Help</h1>

      <h2>Data Sources</h2>
      <h3 id="alpha_listing">BPD Alpha Listing with Badges</h3>
      <p><a href="https://www.muckrock.com/foi/boston-3/boston-police-department-personnel-roster-20433/">https://www.muckrock.com/foi/boston-3/boston-police-department-personnel-roster-20433/</a></p>

      <h3 id="cy2015_annual_earnings">BPD CY2015 Annual Earnings File</h3>
      <p><a href="https://www.muckrock.com/foi/boston-3/boston-police-department-overtime-pay-2015-25166/">https://www.muckrock.com/foi/boston-3/boston-police-department-overtime-pay-2015-25166/</a></p>

      <h3 id="employee_earnings">Employee Earnings Report</h3>
      <p>The City of Boston's Office of Human Resources publishes an annual report detailing the earnings of every city employee. These reports are available on Boston's open data hub, Analyze Boston.</p>
      <p><a href="https://data.boston.gov/dataset/employee-earnings-report">https://data.boston.gov/dataset/employee-earnings-report</a></p>

      <h3 id="field_contact">FIO Records FieldContact Table</h3>
      <p><a href="https://data.boston.gov/dataset/boston-police-department-fio">https://data.boston.gov/dataset/boston-police-department-fio</a></p>

      <h3 id="field_contact_name">FIO Records FieldContact_Name Table</h3>
      <p><a href="https://data.boston.gov/dataset/boston-police-department-fio">https://data.boston.gov/dataset/boston-police-department-fio</a></p>

    </div>
  </div>
</div>
