<div class="fullscreen-layout__container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= render "shared/navbar_content" %>
  </nav>
  <div class="fullscreen-layout__body">
    <%= yield %>
  </div>
</div>
