<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= render "shared/navbar_content" %>
  </div>
</nav>

<%= yield %>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <a href="<%= page_path('about') %>">About</a>
        <span class="text-muted">|</span>
        <a href="<%= page_path('help') %>">Help</a>
        <span class="text-muted">|</span>
        <a href="https://github.com/nstory/wokewindows">Contribute on GitHub</a>
      </div>
      <div class="col-md-6">
        &ldquo;Sunlight is said to be the best of disinfectants; electric light the most efficient policeman.&rdquo;<br><span class="text-muted">&mdash; Louis Brandeis</span>
      </div>
    </div>
  </div>
</div>
