/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *xxx require datatables.net-dt/css/jquery.dataTables.css
 *= require datatables.net-bs4/css/dataTables.bootstrap4.css
 */

@import "bootstrap";

@import "layouts/**/*";
@import "shared/**/*";
@import "*";

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}

.unknown {
  @extend .text-muted;
  font-style: italic;
}

.earnings {
  text-align: right;

  .earnings__dollars {
    @extend .text-monospace;
  }

  .earnings__pct {
    @extend .text-muted;
    @extend .small;
    min-width: 20px;
  }
}
