.officer__table {
  height: 400px;
}

.officer__earnings-table {
  height: 414px;
}

.officer__ia-score-5, .officer__ia-score-4 {
  @extend .text-danger;
  font-weight: bold;
}

.scorecard {
  @extend .row;
}

.scorecard-pair {
  margin-bottom: $spacer * .25;
  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer;
  }
}

.scorecard-label {
  font-weight: bold;
  font-size: 85%;
}

.scorecard-value {
  margin-bottom: 0;
}
