.officer__table {
  height: 400px;
}

.officer__earnings-table {
  height: 414px;
}

.officer__ia-score-5, .officer__ia-score-4 {
  @extend .text-danger;
  font-weight: bold;
}

.officer__top {
  @extend .row;
  @extend .mb-1;

  dl {
    @extend .col-xl-4;
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-6;

    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    dt {
      font-size: 85%;
    }

    padding-right: 36px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.officer__ia-allegations {
  .officer__ia-allegation {
    &:last-child {
      @extend .mb-2;
    }
  }
}
