.table-fullscreen__container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .dataTables_filter {
    display: none;
    padding-right: 12px;
  }

  .dataTables_info {
    padding: 6px 0 6px 12px;
  }
}

.table-fullscreen__head {
  display: flex;
}

.table-fullscreen__description {
  flex: 1 1 auto;
  margin-top: 8px;
  padding: 0 0 0 12px;
  h1 {
    font-size: 18px;
    padding-left: 4px;
  }
}

.table-fullscreen__search {
  flex: 1 1 auto;
  max-width: 300px;
  min-width: 200px;
  width: 200px;
  margin-top: 8px;
  padding-right: 12px;
}

.table-fullscreen__table {
  flex: 1 1 auto;
}

.table-loading {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 2;

  .loading &, .search-queued & {
    display: flex;
  }

  .spinner-border {
    width: 64px;
    height: 64px;
  }
}
